@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Work+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

/* heading and menu items */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    font-family: 'Times New Roman', Times, serif sans-serif;
}

#menu, #logo {
    line-height: 50px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
    margin-top: 4px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover { 
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

#logo {
    float: left;
    font-size: 200%;
    margin-left: 10px;
    margin-top: 4px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif, sans-serif;
    color:#424643;
}

#logo-icon {
    float: left;
    font-size: 200%;
    margin-left: 10px;
    margin-top: 12px;
    font-weight: 700;
    color:#424643;
}
/* image and cover text */

#mellow-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#cover-text h3 {
    color: rgb(128, 128, 128);
    font-family: 'Times New Roman', Times, serif;
    line-height: 40px;
    font-size: 150%;
    text-shadow: 1px 1px 2px #b4b4b4;
}

#cover-text h2 {
    color: #fff;
    padding-bottom: 10px;
    font-size: 350%;
    font-family: Courgette, sans-serif;
    text-shadow: 1px 1px 2px #999999;

}

#mellow-image {
    height: 600px;
    width: 100%;
    background: url('../images/mellow-image.webp') no-repeat center center; 
    background-size: 1450px;
}

#cover-text {
    font-size: 130%;
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;


    width: 300px;
    height: 100px;

    padding-top: 45px;
    padding-left: 10px;
    padding-right: 20px;

    bottom: 30px;
    right: 100px;
    left: 110px;
    top: 130px;

    position: absolute;
}

/* about us section */ 

#about-us h2 {
    text-align: center;
    line-height: 50px;
    padding-bottom: 5px;
    padding-top: 20px;
    font-size: 220%;
    color: #424643;
}

#about-us h3 {
    text-align: center;
    padding-bottom: 30px;
}

#about-us p {
    text-align: center;
    width: 600px;
    padding-left: 400px;
    font-size: 150%;
}

/* footer */ 

footer { 
    height: 150px;
}

.social-networks { 
    text-align: center;
}

.social-networks > li { 
    display: inline;
}

.social-networks i { 
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}

/* history page title and content */

#history {
    float: left;
    position: relative;
    padding-top: 60px;
    padding-right: 200px;
    padding-left: 40px;
    font-size: 120%;
}

#history p {
    width: 500px;
    font-size: 105%;
    line-height: 25px;
}

#buddhist-monks {
    max-width: 100%;
    height: auto;
    padding-left: 570px;
    top: -470px;
    position: relative;
}

#how-old {
    margin-top: -430px;
}

#how-old p {
    width: 1300px;
    line-height: 25px;
    font-size: 105%;
}

#li {
    padding-left: 30px;
    list-style-position: inside;
    font-size: 105%;
    padding-top: 10px;
}

#india {
    font-size: 105%;
    line-height: 25px;
}