@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Work+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: #fae9e9;
}

#menu {
    font-family: Work, sans-serif;
    height: 50px;
}

/* heading and menu items */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    font-family: 'Times New Roman', Times, serif sans-serif;
    font-weight: 100;

}

#menu, #logo {
    line-height: 50px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
    margin-top: 4px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover { 
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

#logo {
    float: left;
    font-size: 200%;
    margin-left: 10px;
    margin-top: 4px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif, sans-serif;
    color:#000000;
}

#logo-icon {
    float: left;
    font-size: 200%;
    margin-left: 10px;
    margin-top: 12px;
    font-weight: 700;
    color:#000000;
}
/* image and cover text */

#yoga-outer {
    height: 630px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#cover-text h3 {
    color: #3a2727;
    font-family: 'Times New Roman', Times, serif;
    line-height: 40px;
    font-size: 150%;
    text-shadow: 1px 1px 2px #b4b4b4;
}

#cover-text h2 {
    color: rgb(117, 62, 62);
    padding-bottom: 10px;
    font-size: 350%;
    font-family: Work, sans-serif;
    text-shadow: 1px 1px 2px #707070;
    letter-spacing: 1px;

}

#yoga-woman {
    height: 670px;
    width: 100%;
    background: url('../images/yoga-woman.jpg') no-repeat center center; 
    background-size: 1440px;
}

#cover-text {
    font-size: 130%;
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;


    width: 300px;
    height: 100px;

    padding-top: 60px;
    padding-left: 750px;
    padding-right: 20px;

    bottom: 30px;
    right: 100px;
    left: 110px;
    top: 130px;

    position: absolute;
}

/* circle images */

#circle-container {
    width: 320px;
    height: 320px;
    padding: 20px;
    border-style: solid;
    border-color:  rgb(255, 255, 255);
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
    float: right;
    margin-right: 30px;
    margin-top: -370px;
}

#circle-cover-bg {
    background: url('../images/yoga-beach-1.jpg') no-repeat center center;
    height: 100%;
    border-radius: 50%;
}


#circle-container-2 {
    width: 320px;
    height: 320px;
    padding: 20px;
    border-style: solid;
    border-color:rgb(255, 255, 255);
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
    float: right;
    margin-right: 1040px;
    margin-top: -370px;
}

#circle-cover-bg-2 {
    background: url(../images/yoga-beach-2\ .jpg) no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

/* about us section */ 

#about-us h2 {
    text-align: center;
    line-height: 50px;
    padding-bottom: 5px;
    padding-top: 20px;
    font-size: 220%;
    color: #3a2727;
    font-family: Work, sans-serif;
}

#about-us h3 {
    text-align: center;
    padding-bottom: 30px;
    color: #634242;
}

#about-us p {
    text-align: center;
    width: 600px;
    padding-left: 400px;
    font-size: 150%;
    font-family: 'Times New Roman', Times, serif, sans-serif;
}

/* footer */ 

footer { 
    height: 150px;
}

.social-networks { 
    text-align: center;
}

.social-networks > li { 
    display: inline;
}

.social-networks i { 
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}

/* history page title and content */

#buddah-history {
    height: 630px;
    width: 100%;
    background: url('../images/buddah-history\ .webp') no-repeat center center; 
    background-size: 1440px;
    

}


#history {
    text-align: center;
    position: relative;
    font-size: 120%;
    font-family: Work, sans-serif;
    padding-top: 20px;
}

#history p {
    width: 700px;
    font-size: 105%;
    line-height: 25px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;

}

#how-old {
    font-family: Work, sans-serif;
    text-align: center;
}

#how-old p {
    width: 1300px;
    line-height: 25px;
    font-size: 105%;
    font-family: 'Times New Roman', Times, serif;
    width: 700px;
    text-align: center;
}

#li {
    list-style-position: inside;
    font-size: 105%;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

#india {
    font-size: 105%;
    line-height: 25px;
    font-family: 'Times New Roman', Times, serif;
    width: 700px;
    text-align: center;
}

/* Why Learn to Meditate */

#why h1 {
    float: left;
    position: relative;
    padding-top: 50px;
    padding-right: 200px;
    padding-left: 40px;
    font-size: 170%;
    font-family: Work, sans-serif;
}

#benefits {
    font-family: Work, sans-serif;
    position: relative;
    padding-top: 160px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
    margin-top: 20px;
}

#benefits li {
    font-weight: 700;
    font-size: 20px;
}


 



